/* Style global */
body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff; /* Fond bleu clair */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

/* Titre de la page */
h1 {
    color: #004080; /* Bleu foncé pour le titre */
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
}

/* Styles CSS pour la table */
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white; /* Fond blanc pour la table */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #004080; /* Bleu foncé pour les en-têtes */
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Bouton Retour */
.back-button {
    background-color: #ff4d4d; /* Rouge pour le bouton */
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #cc0000; /* Rouge plus foncé au survol */
}